* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image:  radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.rules-overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: .8);
  text-align: center;
  .rules-box {
    position: relative;
    background-color: #fff;
    padding: 50px;
    margin-top: 140px;
    display: inline-block;
    border-radius: 10px;
    max-width: 80%;
    span.title {
      color: #3b4363;
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      top: 20px;
      left: 30px;
    }
    span.close-btn {
      position: absolute;
      top: 30px;
      right: 30px;
    }
    img.rules-img{
        margin-top: 50px;
        max-width: 80%;
    }
    
  }
}
.container{
  width: 80%;
  height: 100vh;
  padding: 30px 0;
  margin: auto;
  text-align: center;
  .head{
    padding: 20px;
    display: inline-grid;
    grid-template-rows: 0em;
    margin: 10px auto;
    border: 2px solid #606e85;
    border-radius: 10px;
    width: 50%;
    color: #FFF;
    text-transform: uppercase;
    div {
      display: inline;
    }
    .names {
      justify-self: start;
      text-align: left;
      line-height: 1;
      letter-spacing: 1px;
      font-size: 20px;
    }
    .score-box{
      justify-self: end;
      background: #f8f8f8;
      padding: 5px 20px;
      border-radius: 5px;
      span {
        font-size: 10px;
        color: 	#2a46c0;
        letter-spacing: 1px;
        font-weight: 600;
      }
      h2 {
        color:#3b4363;
        font-size: 40px;
      }
    }
  }
  .game {
    margin-top: 100px;
    .chooises {
      position: absolute ;
      left: calc(50% - 150px);
      z-index: -1;
      &:before {
        content: "";
        background: url(../images/bg-triangle.svg) no-repeat;
        width: 306px;
        height: 300px;
        display: inline-block;
        position: absolute;
      };
      div {
        position: absolute;
        display: inline-block;
        background: rgb(236, 236, 236);
        border-radius: 50%;
        width: 120px;
        height: 120px;
        line-height: 9;
        border: 10px solid #215487;
        cursor: pointer;
        img {
          max-width: 55px;
        }
      }
      .paper {
        left: -10px;
        top: -25px;
        border-color:	#5671f5;
      }
      .scissors {
        top: -25px;
        right: -328px;
        border-color:	#eca922;
      }
      .rock {
        bottom: -290px;
        left: 105px;    
        border-color:	#dd405d;
      }
    }
  }
  .rules-btn {
    display: block;
    position: absolute;
    right: 50px;
    bottom: 20px;
    padding: 8px 35px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
    cursor: pointer;
    &:hover{
      background: #3b4363;
    }
  }
}



// Start Media Query
@media (max-width: 768px) {
  .rules-overlay{
    .rules-box {
      .rules-img {
        max-width: 100% !important;
      }
    }
  }
  .container{
    .head {
      width: 100%;
      padding: 10px;
      .names {
        font-size: 15px;
        margin: 5px;
      }
    }
    .game {
      .chooises {
        &:before {
          width: 200px;
          height: 200px;
          background-size: contain;
          left: 50px;
        }
        div {
          width: 100px;
          height: 100px;
          img {
            max-width: 40px;
            margin-bottom: 15px;
          }
        }
        .paper {
          left: 20px;
        }
        .scissors {
          right: -280px;
        }
        .rock {
          bottom: -200px;   
        }
      }
    }
    .rules-btn {
      right: calc(50% - 60px);
    }
  }
}